G# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.__i

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.crf
*._ia

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.axf
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
awtk
awtk-fs-adapter
tencentos-tiny
awtk-sqlite3
awtk-mvvm
OBJ
USER/awtk.uvguix.Admin
